*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blanchedalmond;
}
header{
    padding: 60px;
    margin: 10px;
    background: #1abc9c;
    text-align: center;
    color:white;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h2{
    padding-bottom: 15px;
}
nav ul{
    list-style:none;
    padding: 14px 20px;
    display:flex;
    background-color:slategrey;
}
nav ul li a{
    color: whitesmoke;
    text-decoration:none;
    text-align: center;
    padding: 14px 20px;
}
nav ul li a:hover{
    color: #1abc9c;
    background-color: whitesmoke;
}
section{
    padding: 20px;
}
section article p{
    padding: 5px 0
}
footer{
    padding: 20px;
    text-align: center;
}
.produto{
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.produto h2{
    color: #0e6856;
}
.produto p{
    margin: 5px 0;
}
.preco{
    color:coral;
    font-weight: bold;
}
form{
    padding: 15px;
    border: 1px solid steelblue;
}
label{
    color: #1abc9c;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
textarea{
    width: 98%;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid slategrey
}
input[type="submit"]{
    background-color: steelblue;
    color: whitesmoke;
    padding: 2px 5px ;
    cursor: pointer
}